<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>476787089886-gj4dk4mg2m125nq3bi94q51fbi7h0etl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.476787089886-gj4dk4mg2m125nq3bi94q51fbi7h0etl</string>
	<key>API_KEY</key>
	<string>AIzaSyBckAfnhPlqDr-qgwzjf3XTPC_uzTjCDKM</string>
	<key>GCM_SENDER_ID</key>
	<string>476787089886</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nyc.c4q.jashBoard</string>
	<key>PROJECT_ID</key>
	<string>jashv2avoidingcategories</string>
	<key>STORAGE_BUCKET</key>
	<string>jashv2avoidingcategories.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:476787089886:ios:ac6a646d04120342</string>
	<key>DATABASE_URL</key>
	<string>https://jashv2avoidingcategories.firebaseio.com</string>
</dict>
</plist>